.tv {
  width: 100%;
  position: relative;
  display: block;
  flex-direction:column;
  align-items: center;
}

.tv__intro {
  width: 80%;
  margin: auto;
}

.tv__backdrop {
  width: 100%;
  height: 500px;
  object-fit:cover;
  object-position: 0 35%;
  margin: auto;
}

.tv__detail {
  align-items: center;
  width: 75%;
  display: flex;
  position: relative;
  bottom: 225px;
  margin: auto;
}

.tv__detailLeft {
  margin-right: 30px;
}

.tv__poster {
  width:300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
}

.tv__detailRight {
  color: white;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content:space-between ;
}

.tv__detailRightTop > div{
  text-shadow: 0px 0px 5px #000000;
  margin-bottom: .5rem;
}

.tv__name {
  font-weight: 600;
  font-size: 3rem;
}

.tv__voteCount {
  margin-left: 1rem;
}

.tv__genres {
  margin: 1.25rem 0;
}

.tv__genre {
  padding: .5rem;
  border: 2px solid white;
  border-radius: 20px;
  margin-right: 1rem;
}


.tv__detailRightBottom {
  margin: 2rem 0;
  flex: 0.8;
}

.synopsisText {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  font-weight: 600;
  display: flex;
  position: relative;
  align-items: center;
}
.synopsisText > div:last-of-type {
  margin-left: auto;
}


/* tv List */
.tv__list_film {
  padding: 0 3rem 3rem 3rem;
  position: relative;
  bottom: 200px;
}

.list__title_tv {
font-size: 1.75rem;
margin:  2.5rem;
}

.list__cards_film {
  display: flex;
  justify-content: center;
}

.tv__links {
  position: relative;
  bottom: 120px;
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
}

.tv__heading {
  font-size: 2.2rem;
}

.tv__heading_2 {
  font-size: 2.2rem;
  margin-left: 35rem;
}

.tv__Button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 2rem;
  border-radius: 20px;
  cursor: pointer;
  width: 150px;
  color: black;
  font-weight: bold;
}

.tv__homeButton {
  background-color:rgb(255, 0, 0);
  
}

.tv__imdbButton {
  background-color:#f3ce13;
}

.newTab {
  margin-left: 1.4rem;
}

.tv__production {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 3rem auto 10rem auto
}


.tv__productionComapany {
  width: 200px;
  margin: 2rem;
}

.productionCompanyImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width : 768px) {
  .tv__intro {
    width: 100%;
  }
  .tv__detailRight {
    margin-left: 1rem;
  }
  .tv__poster {
    width: 150px;
  }
  .tv__name {
    font-size: 2rem;
  }
  .tv__tagline {
    font-size: 0.8rem;
  }
  .tv__rating {
    font-size: 0.8rem;
  }
  .tv__runtime {
    font-size: 0.8rem;
  }
  .tv__releaseDate {
    font-size: 0.8rem;
  }
  .tv__genre {
    font-size: 0.8rem;
  }
  .synopsisText {
    font-size: 0.8rem;
  }
  .tv__overview {
    font-size: 0.7rem;
    width: 50%;
  }
  .tv__heading {
    font-size: 1rem;
    margin-right: 1rem;
  }
  .tv__heading_2 {
    font-size: 1rem;
    margin-left: 6rem;
  }
  .tv__Button{
    width: 50px;
    font-size: 0.6rem;
  }
  .tv__homeButton {
    margin-right: 1rem;
  }
  .tv__production {
    margin: 3rem 0 10rem 0;
    flex-direction: column;
  }
}
